extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")

block content
    if errorMessage
        .user-message.user-message--error #{errorMessage}
    form.login-form(action="/password", method="POST")
        .form-control
            label(for="password") Password
            input(type="password", name="password")#password
        button.btn(type="submit") Update password
        input(type="hidden", name="_csrf", value=csrfToken)
        input(type="hidden", name="userId", value=userId)
        input(type="hidden", name="token", value=token)