extends ../layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/cart.css")

block content
    if products.length > 0
        ul.cart__item-list
            each product in products
                li.cart__item
                    h1 #{product.productId.title} 
                    h2 Quantity: #{product.quantity}
        div.centered
            h2 Total: #{totalSum}
        div.centered
            button.btn#order-btn ORDER
            script(src="https://js.stripe.com/v3/")
            script.
                var stripe = Stripe('test');
                var orderbtn = document.getElementById('order-btn');
                orderBtn.addEventListener('click', function() {
                    stripe.redirectToCheckout({
                        sessionId: sessiondId
                    });
                });
    else
        h1 No Products in Checkout!